<div class="container">
  <div class="card p-5 mt-4">
    <h2>Employees</h2>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- ID Column -->
        <ng-container matColumnDef="employeeId">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.employeeId }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="employeeName">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="employeeEmail">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeEmail }}
          </td>
        </ng-container>

        <!-- Contact Number Column -->
        <ng-container matColumnDef="employeeContactNumber">
          <th mat-header-cell *matHeaderCellDef>Contact Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeContactNumber }}
          </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="employeeAddress">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeAddress }}
          </td>
        </ng-container>

        <!-- Department Column -->
        <ng-container matColumnDef="employeeDepartment">
          <th mat-header-cell *matHeaderCellDef>Department</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeDepartmentName }}
          </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="employeeGender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeGender }}
          </td>
        </ng-container>

        <!-- Skills Column -->
        <ng-container matColumnDef="employeeSkills">
          <th mat-header-cell *matHeaderCellDef>Skills</th>
          <td mat-cell *matCellDef="let element">
            {{ element.employeeSkills }}
          </td>
        </ng-container>

        <!-- Update Column -->
        <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef>Update</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="primary"
              (click)="updateEmployee(element.employeeId)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="warn"
              (click)="deleteEmployee(element.employeeId)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Definizione dell'intestazione della tabella e delle righe di dati-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
